*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-family: 'Gothic A1', sans-serif;
    font-family: 'Josefin Sans', sans-serif;
}
.mainContainer{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, 0.75)),url(images/home.jpg);
    background-position: center;
    background-size: cover;
}
.HeaderHolder{
    display: flex;
    justify-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
    top: 40px;
    padding-left: 7%;
    padding-right: 7%;
}
.Logo img{
    width:180px;
}
.HeaderHolder nav ul li{
    display: inline-block;
    list-style: none;
    
}
.HeaderHolder nav ul li a{
    text-decoration: none;
    padding: 5px 20px 5px 20px;
    color: white;
}
.hover-underline-animation {
    display: inline-block;
    position: relative;
    color: #03b320;;
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 65%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 20px;
    background-color: #08b9c5;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1.1);
    transform-origin: bottom left;
  }

  .MiddleInfo{
      width: 100%;
      /* border: 1px solid red; */
      position: absolute;
      top: 38%;
      text-align: center;

  }
  .MiddleInfo h1{
    color: white;
    font-weight: 600;
    font-size: 60px;
    /* border: 1px solid red; */
  }
 .MiddleInfo p{
     padding-top: 20px;
    color: white;
    width: 100%;
    /* border: 1px solid red; */
    text-align: center;
    font-size: 18px;
    padding-bottom: 30px;
 }
 .btn{
     height: 35px;
     width: 180px;
     font-size: 18px;
     background-color: transparent;
     border-radius: 30px;
     border: 2px solid white;
     color: white;
     margin: 15px;
     text-decoration: none;
     transition: all .2s ease-in-out;
 }
 .btn:hover{
    background-color:#08b9c5;
    color:black;
    /* transform:scale(1.1) */
 }
 .bgimg img{
     /* width: 100%; */
     /* height: auto; */
     background-position: center;
     background-size: cover;
     border: 1px solid red;

 }
 .socialIcon{
     position: fixed;
     height: 75vh;
     display:flex;
     flex-direction: column;
     justify-content: center;
     transform:translate(-265px,0);
 }
 .socialIcon a{
    color: white;
    background-color: rgba(158, 155, 155, 0.651);
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    display: block;
    margin: 5px;
    padding: 10px;
    width: 300px;
    text-align: right;
    border-radius: 25px;
    transition: 1s;
    transition-property: transform;
 }
 .socialIcon a:hover{
    transform: translate(150px,0);
    color:rgb(48, 47, 47);
 }
 .socialIcon i{
     margin-left: 10px;
     font-size: 25px;
     width: 25px;
     height: 25px;
 }